<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="System Mnumi" />
    <title>Mnumi system</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/standard.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/form.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/special-pages.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/simple-lists.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/960.gs.fluid.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/custom.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/oldBrowser.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/wizard.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/table.css" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>
<body class="dark">
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
