{% extends 'PanelWorkingTimeBundle:Default:base.html.twig' %}
    {% block javascripts %}
        {% javascripts
        '@PanelWorkingTimeBundle/Resources/public/js/jquery-2.1.3.js'
        '@PanelWorkingTimeBundle/Resources/public/js/BarcodeListener.js'
        %}
        <script src="{{ asset_url }}"></script>

        {% endjavascripts %}
        <script>
            $(document).ready(function() {
                var requestedCode = "";
                function getAjax(code) {
                    $('.state').css({'color':'red'});
                    $.ajax({
                        type: "POST",
                        url: "{{ path('panel_working_time_ajax') }}",
                        data: {code: code},
                        async : false,
                        success: function (data, dataType) {
                            if(data.code === 1) {
                                $('.state').css({'color': 'green'});
                            }
                            $('#page-locked #head h1').text(data.user);
                            $('.state').text(data.state);
                        },

                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            $('.state').text('Error : ' + errorThrown);
                        }
                    });
                }

                $(document).BarcodeListener(function(code) {
                    requestedCode = code;
                    getAjax(code);
                });
            });
        </script>
    {% endblock %}
{% block body %}
    <div class="printer-interface">
        <div id="page-locked">
            <div class="block">
                <div id="head">
                    <h1>{% trans %}Page locked{% endtrans %}
                    </h1>
                </div>
                <div id="body" class="big-blue state">{% trans %}Scan your personal barcode to unlock the page{% endtrans %}</div>
            </div>
        </div>
    </div>
{% endblock %}