<form action="{{ path('fos_oauth_server_authorize') }}" method="POST" id="fos_oauth_server_authorize" class="fos_oauth_server_authorize" {{ form_enctype(form) }}>
    <input class="btn btn-primary" type="hidden" name="accepted" value="{{ 'authorize.accept'|trans({}, 'FOSOAuthServerBundle') }}" />

    {{ form_row(form.client_id) }}
    {{ form_row(form.response_type) }}
    {{ form_row(form.redirect_uri) }}
    {{ form_row(form.state) }}
    {{ form_row(form.scope) }}
    {{ form_rest(form) }}
</form>
<script language="javascript">
    document.getElementById("fos_oauth_server_authorize").submit();
</script>