.poczta-polska-report
{
	width:1130px;
	font-size: 12px;
	margin: 103px 0 104px 89px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}

.poczta-polska-report .attachment
{
	text-align: right;
	margin-right:100px;
}

.poczta-polska-report .name
{
	padding-top:15px;
}

.poczta-polska-report .address-table
{
	width:1030px;
	margin-top:15px;
}

.poczta-polska-report .address
{
	white-space: nowrap;
}

.poczta-polska-report .address-dots
{
    text-align: right;
}

.report-data-table
{
	width:1030px;
	margin: 20px 0;
	height: 100px;
	line-height: 15px;
	font-size: 10px;
}

.report-data-table td
{
	border: 1px solid black;
	text-align: center;
    vertical-align: middle;
}

.report-data-table .lp
{
	width: 22px;
}

.report-data-table .address-name
{
	width: 117px;
}

.report-data-table .address
{
    width: 141px;
}

.report-data-table .post
{
    width: 93px;
}

.report-data-table .email
{
    width: 135px;
}

.report-data-table .service
{
    width: 69px;
}

.report-data-table .cost-zl
{
    width: 56px;
}

.report-data-table .cost-gr
{
    width: 21px;
}

.report-data-table .weight-kg
{
    width: 37px;
}

.report-data-table .weight-g
{
    width: 20px;
}

.report-data-table .number
{
    width: 93px;
}

.report-data-table .notice
{
    width: 94px;
}

.report-data-table .payment-zl
{
    width: 39px;
}

.report-data-table .payment-gr
{
    width: 21px;
}

.report-data-table .collection-zl
{
    width: 39px;
}

.report-data-table .collection-gr
{
    width: 21px;
}

.report-data-table .left-border-big
{
	border-left: 2px solid black;
}

.report-data-table .right-border-big
{
    border-right: 2px solid black;
}

.report-data-table .transfer
{
	text-align: right;
	padding-right: 15px;
	height:27px;
}

.report-data-table .item
{
	height:41px;
}

.report-data-table .infos
{
	text-align: left;
	font-size: 9px;
	padding-top:8px;
}

.report-data-table .no-border
{
	border: none !important;
}

.report-data-table .bottom-border-big
{
	border-bottom: 2px solid black;
}

.report-data-table .top-border-big
{
    border-top: 2px solid black;
}