body
{
    font-family: Century Gothic,Verdana,Arial,sans-serif;
}
.card
{
	width: 296px;
	height: 165px;
	border: 1px solid black;
	font-size: 10px;
	text-align: center;
}

.card div
{
	font-weight: bold;
	font-size:12px;
	margin-bottom: 5px;
}