* {
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

body {
    font-size:14px;
    margin:0;
    padding:0;
}

.order #logo h1, .order #logo h2 {
    font-weight: normal;
    margin:0;
    font-size: 1.1em;
}
.order #logo h1 {
    margin-top:10px;
}
.order #logo h2 {
    margin-bottom: .5em;
}

.order #barcode {
    text-align: center;
    width:260px;
}

.order #barcode h1 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 18px;
}

.order table {
    border-spacing: 0;
    border-width: 0;
    width: 100%;
}
.order table td, .order table th {
    vertical-align: top;
    font-weight: normal;
    padding:0;
}

.order .frame > tbody > tr > td {
    border-left: 1px solid #000;
}

.order .client {
    width:60%;
    border-top: 1px solid #000;
}

.order .sidebar {
    border-right: 1px solid #000;
}

.order hr {
    border:1px solid #000;
    border-top:0;
    border-left:0;

}

.order h3 {
    font-weight: normal;
    font-size:10px;
    margin-top:0;
    margin-left:5px;
    text-transform: uppercase;
    text-decoration: underline;
}

.order td p {
    padding-left:.8em;
    font-size:13px;
}

.order #attachments {
    text-align: center;
    padding-bottom: 5px;
}

.order #attachments img {
    border:1px solid #000;
    max-height: 200px;
    max-width: 600px;
}

.order #attachments p.rest {
    margin: 0 0 2px 0;
}

.order #attachments span {
    font-weight: bold;
    font-style: italic;
    display: block;
}

.order #attachments h5 {
    margin:0;
    line-height: 1em;
    padding:0;
    font-weight: normal;
}

.order #designer h5 {
    font-weight: normal;
    margin:0 0 0 5px;
}

.order #designer table {
    margin: 0 10px;
}

.order #designer .trader-hours {
    text-align: right;
}

.order #attachments h6 {
    font-weight: normal;
    margin:0;
    font-size: 16px;
}

.order .report-attribute th, .order .report-attribute td {
    text-align: center;
}

.order .print-attribute {
    margin-top:20px;
}

.order .report-attribute td {
    font-size: 15px;
}

.order .notice p {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    word-wrap: break-word;
    word-break: break-all;
}

.order .cost {
    margin-top:20px;
}
.order .cost h5 {
    margin-bottom: 10px;
    text-align: left;
}

.order .cost p {
    font-size:12px;
}

.order .cost p strong {
    font-size:14px;
    font-weight: normal;
}


.order .report-attribute td.timelog {
    padding:1em 0;
    font-size:9px;
    text-align: center;
}

.order #footer {
    border-spacing: 0;
    line-height: 1em;
}
.order table#footer td {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.order #footer td {
    border-right:1px solid #000;
    padding-top:5px;
}

.order table th, .order #payment h5 {
    font-size: .6em;
}
.order #payment h5 {
    font-weight: normal;
    margin-bottom: 0;
}

.order #payment p, .order #payment h5 {
    text-align: right;
    margin-right: 10px;
}

.order #payment p {
    font-size: 16px;
    line-height: 1em;
    margin:2px 10px 2px 0;
}

.order #payment .gross {
    font-weight: bold;
}

.order .shipment {
    font-style: oblique;
}

#footer-bar {
    position: static;
    height: 18px;
    border-top: 2px solid gray;
}

#invoice #footer-bar {
    text-align: right;
}

.line {
    border-top: 1px solid #000;
}
.order .note {
    font-size:10px;
}

img {
    filter: gray;
}

#invoice {
    line-height: 1em;
    font-size:14px;
}

#invoice .invoice-seller-data-table
{
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-width: 0;
}
#invoice .invoice-seller-data-table td, #invoice #clientData td, #invoice .dates-payment td, #invoice .invoice-items td {
    padding: 3px;
}

#invoice .td-top
{
    vertical-align: top;
}

#invoice .td-right
{
    text-align: right;
}

#invoice .td-left
{
    text-align: left;
}

#invoice .td-center
{
    text-align: center;
}

#invoice #barcode
{
    width: 160px;
    text-align: right;
}

#invoice .invoice-number p
{
    color: #000000;
    text-align: center;
}

#invoice .invoice-number-main
{
    font-size: 20px;
    font-weight: bold;
}

#invoice .invoice-duplicate {
    font-size: 16px;
    text-transform: uppercase;
}

#invoice .invoice-number-correction
{
    font-size: 24px;
}

#invoice #invoiceItems h4 {
    text-align: center;
}

#invoice #clientData, #invoice #invoiceSummary {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#invoice #clientData table
{
    border: none;
}

#invoice .client-address
{
    color: #000000;
    font-size: 16px;
}

#invoice .client-address p, #invoice #invoiceSummary p {
    margin:0;
    padding:0;
}

#invoice #invoiceSummary {
    margin-top:2em;
}

#invoice .payer-title
{
    color: #000000;
}

#invoice #logo {
    padding-right: 3em;
    width: 5%;
}
#invoice #sellerName {
    min-width: 80%;
}

#invoice .dates-payment
{
    width: 100%;
    border: none;
    text-align: center;
}

#invoice .summary-header
{
    font-size:16px;
    font-weight: bold;
}

#invoice .seller-address
{
    color: #000000;
}

#invoice .seller-nip
{
    color: #000000;
}

#invoice .invoice-items-list
{
    width: 100%;
    border-spacing: 0;
    border-width: 0;
}

#invoice .invoice-items-list td
{
    border: 1px solid black;
}


#invoice .correction-header
{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
}

#invoice .item-header
{
    background-color: #cccccc;
    text-align: center;
    font-size: 7pt;
}

#invoice .item-header td {
    border-bottom: 3px solid #000000;
}

#invoice .spacer td
{
    background-color: #000000;
    height: 1px;
}

#invoice .total-prices-space
{
    background-color: #ffffff;
}

#invoice .total-prices-space td
{
    border-bottom: 0;
    border-left: 0;
}

#invoice .td-important
{
    background-color: #cccccc;
}

#invoice .total-prices-space .summary {
    border-bottom: 1px solid black;
}

#invoice .tax-value
{
    font-size: 12px;
}

#invoice .invoice-items-list .clear td {
    border: 0;
}

#invoice .invoice-items-list .summary td {
    padding-top:3em;
}

.invoice_pdf_page {
    width: 21cm;
    min-height: 29.7cm;
    margin: 1cm auto;
    background: white;
}
.invoice_pdf_spage {
    padding: 1cm;
    height: 296mm;
}

.prints-number ul {
    text-align: left;
}

.prints-number li {
    margin: 0 0 0 40px;
}

.prints-number .print-number-title {
    margin: 5px 0;
    font-weight: 800;
    font-size: 16px;
}

@media print {
    .invoice_pdf_page {
        margin: 0;
        width: initial;
        min-height: initial;
        page-break-after: always;
    }
}
