{% for line in lines %}
{% if line.getTextType() == "deliveryName" %}
<b>{{ line.getValue() }}</b></br>
{% elseif line.getTextType() == "Package" %}
<small><i>{{ line.getValue() }}</i></small></br>
{% else %}
{{ line.getValue() }}</br>
{% endif %}
{% endfor %}